---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { type Books } from "../types/books";

const books = await getCollection("books");
//console.log(JSON.stringify(books, null, 2));
---

<Layout
  title="GonzDev | Coleccion de libros para aprender Matemáticas y Programación"
>
  <main>
    <article class="mb-14">
      <h1 class="text-4xl font-semibold text-center mb-5">
        Mi colección de Libros
      </h1>
      <div class="flex flex-col items-center">
        <p class="text-center">
          Te presento mis libros favoritos que han marcado mi vida y mi carrera
          profesional.
        </p>
        <p class="text-gray-600">GonzDev</p>
      </div>
    </article>

    <section aria-label="Libros de Matemáticas y Programación">
      <div class="px-4 mx-auto max-w-screen-xl my-10">
        <div class="grid gap-10 md:grid-cols-2">
          {
            books.map((book: Books) => {
              const { slug, data } = book;
              const { titulo, autor, imagen, descripcion } = data;

              return (
                <article class="flex flex-col min-[400px]:flex-row p-1">
                  <a
                    href={`/libro/${slug}`}
                    class="mb-2 min-[400px]:mr-5 xl:mb-0 transition hover:scale-110 flex justify-center items-center"
                  >
                    <img
                    transition:name={slug}
                      src={imagen}
                      alt={titulo}
                      class="w-28 h-36 rounded-lg"
                    />
                  </a>
                  <div class="flex flex-col justify-center flex-1 text-center min-[400px]:text-start">
                    <h2 transition:name={`title-${slug}`} class="text-xl font-semibold">{titulo}</h2>
                    <p class="text-sm text-gray-500 mb-3">{autor}</p>
                    <p class="mt-2 text-gray-300">{descripcion}</p>
                  </div>
                </article>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
